img {
    width: 68%;
    border: 10px solid white;
}
h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: white;
  }
p {
    color: white;
}
html {
    background-color: black;
}
div {
    text-align: center;
    margin-top: 30px;
}